<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- PLS Simulator logs -->
    <logger name="no.cloudberries.lpg.pls.sim" level="DEBUG"/>
    
    <!-- jSerialComm -->
    <logger name="com.fazecast.jSerialComm" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
